[submodule "Modules/ProtoBasket.Common.Model"]
	path = Modules/ProtoBasket.Common.Model
	url = git@github.com:jaywapp/ProtoBasket.Common.Model.git
[submodule "Modules/ProtoBasket.Crawler"]
	path = Modules/ProtoBasket.Crawler
	url = git@github.com:jaywapp/ProtoBasket.Server.Crawler.git
